[submodule "TheDialgaTeam.Dashboard"]
	path = TheDialgaTeam.Dashboard
	url = https://github.com/TheDialgaTeam/Dashboard.git
[submodule "Discord.Net"]
	path = Discord.Net
	url = https://github.com/TheDialgaTeam/Discord.Net.git
[submodule "SQLiteNetExtensions"]
	path = SQLiteNetExtensions
	url = https://bitbucket.org/twincoders/sqlite-net-extensions.git
