body {
    color: #cccccc;
    background-color: #333333;
}

.navbar-dark .navbar-toggler {
    border-color: black;
}

.message:not(:last-child) {
    margin-bottom: 20px;
}

.message {
    background-color: transparent;
    border-radius: 3px;
}

.message-header {
    background-color: darkorange;
    border-radius: 3px 3px 0 0;
    color: black;
    padding: 7px 10px;
}

.message-body {
    background-color: #222222;
    padding: 12px 15px;
}